.grid-video ul {
  padding-top: 74px;
  padding-left: 74px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
  grid-auto-rows: 450px;
}

.grid-video ul li {
  width: 328px;
  height: 390px;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 3px 3px 30px 3px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
  padding-bottom: 20px;
}

.grid-video ul li:hover {
  background:#ADD8E6 /*radial-gradient(circle, transparent 1%, #F0F8FF ) ; */
}

.Selected-container{  
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.listed-videos{  
  padding-left: 63%;
  width: auto;  
}

.list-item-container{
  display: flex;
  flex-direction: row;
}

.list-video ul {
  list-style-type: none;
}

.list-video ul li {  
  height: 91px;
  text-align: left;  
  border: 1px solid #1D9AF2;
  border-radius: 4px;  
  padding-top: 1px;
  padding-left: 1px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
}

.list-video ul li:hover {
  background:#ADD8E6  
}

.video-player-item {
   width: 65%;
   padding-top: 16px;
   height: 500px;
   position: fixed;
}

.video-grid-description{
  color: grey;
}

.video-description{
  position: fixed;
  top:555px;
  width: 64.9%;
  border: 1px solid #ddd;
  border-radius: 1px;  
}

.Loading-title{
  width: 100%;
  height: 100%;
}

.Loading-title p{
  position: absolute;
  top:50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 5px #1D9AF2; 
}

.Message-title{
  width: 100%;
  height: 100%;
}

.Message-title p{
  position: absolute;
  top:25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
.favorite-button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.favorite-button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.favorite-button:active {
	position:relative;
	top:1px;
}
.favorite-position{
  display: flex;
  justify-content: center;
}